@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 background: #fafafa;
 font-family: 'Roboto', Arial, Helvetica, sans-serif;
 font-size: 11pt;
 width: 100vw;
 height: 100vh;
}

.main-nav {
 background: #fff;
 border-bottom: 2px solid #F4770E;
 box-shadow: 0 5px 10px rgba(0,0,0,0.1);
 margin-bottom: 10px;
 position: sticky;
 top: 0;
 z-index: 100;
}

.nav-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 1100px;
 margin: 0 auto;
 padding: 0.75rem 1rem;
 position: relative;
}

/* --- Logo --- */
.nav-logo {
 color: #333;
 font-size: 1.25rem;
 font-weight: bold;
 margin-right: 10px;
 text-decoration: none;
}

.nav-logo img {
 max-width: 500px;
 width: 100%;
}

/* --- Navigation List --- */
#nav-list li {
 align-items: center;
}

.nav-list {
 display: flex;
 gap: 1rem;
 list-style: none;
 margin: 0;
 padding: 0;
}

.nav-link {
 color: #333;
 display: block;
 font-weight: bold;
 text-decoration: none;
 text-align: center;
 transition: color 0.2s ease;
}

.nav-link:hover {
 color: #F4770E;
}

.disabled-link {
 pointer-events: none;
}

/* --- Hamburger Button --- */
.nav-toggle {
 display: none;
 background: none;
 border: none;
 cursor: pointer;
 font-size: 1.5rem;
}

h2 {
 display: block;
 font-size: 1.5em;
 font-weight: bold;
 margin: 0.83em 0;
}

p {
 display: block;
 margin: 1em 0;
}

main {
  background: #fff;
  padding: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 10px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 10px;
}

.grid-item {
  background-color: #5304b5;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
}

.grid-item h2 {
 text-align: center;
}

#youtube {
  width: 100%;
  min-height: 250px;
}

.column_left, .column_right {
  text-align: center;
}

footer {
  background: #F4770E;
  padding: 10px;
  text-align: center;
}

#donate {
  border: 1px solid #ff0000;
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
 #hamburger {
  width: 50px;
 }

 #nav-logo-img {
  display: none;
 }

 .nav-list {
  display: none;
  background-color: #F4770E;
  position: absolute;
  top: 78px;
  left: 0;
  right: 0;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
 }

 .nav-list.show {
  display: flex;
 }

 .nav-link {
  color: #fff;
 }

 .nav-toggle {
  display: block;
 }

 .grid-2, .grid-3 {
  grid-template-columns: 1fr;
 }
}